<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">{{product.name}}</h2>
  </div>
  <div class="panel-body">
    {{product.description}}
  </div>
  <div class="panel-footer">
    <span class="label label-default">Stock: {{product.stock}}</span>
    <span class="label label-primary">Price: {{product.price}}</span>
    <button class="btn btn-primary" {{action 'addToCart'}}>Add To Cart</button>
  </div>
</div>
